/* ===== ESTE BLOCO FAZ UM RESET, OU SEJA GARANTE QUE ALGUNS ATRIBUTOS
ESTEJAM ZERADOS E LIVRES DE ATRIBUTOS PADRÃ•ES DO NAVEGADOR =====*/
*

.nome{
    display: inline-flex;
    position: relative;
    left: 20vw;
    bottom: 20vh;
    color: rgb(0, 0, 0);
    background-color: rosybrown;
    width: 100px;
    height: 90px;
}
.folha{
    width: 100%;
    height: 2000px;
    background-color: rgb(71, 131, 183);
    display: block;
    align-self: center;
    align-content: center;
    

}
.formação{
    position: relative;
    width: 400px;
    height: 200px;
    background-color: aqua;
}
.objetivo{
    background-color: brown;
    position: relative;
    display: block;
    width: 400px;
    height: 200px;
    left: 60vw;
}
.abilidades{
    position: relative;
    display: block;
    background-color: violet;
    top: 10vh;
    width: 50%;
    height: 200px;

}
.pontos_forte{
    display: block;
    position: relative;
    background-color: blue;
    width: 50%;
    height: 200px;
    left: 50%;
    top: 60vh;}